* {
    margin: 0;
    padding: 0;
}

#root{
  width: 100vw;
}

:root {
  --primary: #3B3B4C;
  --secondary:#187B4F;
  --secondary-hover:#0c5836;
  --dark:#1A3727;
  --btn:#CECCCC;
  --text: white;
  --back: #363645;
  --back-dark: #2e2e3d;
  --danger : red;
  --danger-hover : rgb(134, 3, 3);
  --textfield-background: #D9D9D9;
  --textfield-background-hover: #a7a5a5;
}

body{
  display: flex; 
  height: 100vh;
  background: var(--back);
   font-family: 'Roboto', sans-serif;
   overflow: auto;
}

