.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.input{
    max-width: 250px;
}

.alert{
    margin-top : 5px;
    color: red;
}